html,body {
  margin: 0;
  padding:0;
}

body {
  padding-top: 4em;
  text-align: center;
  background-color: hotpink;
  background-size: cover;
  background-repeat: space;
  background-image: url(../images/background.png);
}

h2 {
    color: hotpink;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#container {
max-width: 55em;
background-color: hotpink;
margin: 0 auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .25fr .50fr .25fr;
grid-template-columns: .25fr .50fr .25fr;
grid-template-areas: "top-left top-left top-right"
                      "game game game"
                      "bottom-left bottom-middle bottom-right";
}

canvas {
  background-color: lightpink;
  width: 444;
  height: 880;
  background-image: url(../images/image.png);
  background-repeat:no-repeat;
  background-size: cover;


}

#top-left, #top-right, #bottom-left, #bottom-right, #bottom-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-left {
  grid-area: top-left;
  background-color: lightpink;
}

#top-right {
  grid-area: top-right;
  background-color: lightpink;
}

main {
  grid-area: game;
}


#bottom-left {
  grid-area: bottom-left;
  background-color: lightpink;
}

#bottom-right {
  grid-area: bottom-right;
  background-color: lightpink;
}

#bottom-middle {
    grid-area: bottom-middle;
    background-color: lightpink;
}

#restart {
    background-color: lightpink;
    border: 1px solid lightpink;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: hotpink;
    font-family: 'Press Start 2P', sans-serif;
}