html,body {
  margin: 0;
  padding:0;
}

body {
  padding-top: 4em;
  text-align: center;
  background-color: hotpink;
  background-size: cover;
  background-repeat: space;
  background-image: url(../images/backgroung.png);
}

h2 {
    color: hotpink;
}

#container {
max-width: 55em;
background-color: hotpink;
margin: 0 auto;
padding: 1em;
display: grid;
grid-gap: 1em;
grid-template-rows: .25fr .50fr .25fr;
grid-template-columns: .25fr .50fr .25fr;
grid-template-areas: "top-left top-left top-right"
                      "game game game"
                      "bottom-left bottom-middle bottom-right";
}

canvas {
  background-color: lightpink;
  width: 100%;
  height: 100%;
  background-image: url(file:///Users/emilykiss/Desktop/pixel-grocery.gif);
  background-repeat:no-repeat;
  background-size: cover;
  /* file:///Users/emilykiss/Desktop/2.webp */

}

#top-left, #top-right, #bottom-left, #bottom-right, #bottom-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-left {
  grid-area: top-left;
  background-color: lightpink;
}

#top-right {
  grid-area: top-right;
  background-color: lightpink;
}

main {
  grid-area: game;
}


#bottom-left {
  grid-area: bottom-left;
  background-color: lightpink;
}

#bottom-right {
  grid-area: bottom-right;
  background-color: lightpink;
}

#bottom-middle {
    grid-area: bottom-middle;
    background-color: lightpink;
}

